    {% extends 'user_panel_template.html' %}
{% load render_partial %}

{% block title %} Update Profile  {% endblock title %}

{% block content %}

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Profile</h5>
                    </div>
                    <div class="card-divider"></div>
                    
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">     <!-- age action="" khali bashe bar migardune be hamun address ke omade. enctype baraye ersal file(image) bud -->
                            {% csrf_token %}    
                            {{form.as_p}}                           <!---->
                            <img src="{{media_url}}{{image_url}}" style="width: 100px; height: 100px;" alt="image">     <!---->
                            <div class="form-group">                                            
                                <button type="submit" class="btn btn-primary mt-4">Edit</button>                        <!---->
                                <a href="{% url 'accounts:userpanel' %}" class="btn btn-info mt-4">Cancel</a>           <!---->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
